/* Add general styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* Style the logo and button containers */
.logoContainer {
  text-align: center;
  margin: 20px 0;
  max-width: 100%; /* Change this to 100% */
  padding: 0 20px; /* Add padding to separate from buttons */
  width: 100%; /* Add this to make the container responsive */
  box-sizing: border-box; /* Add this to include padding in the total width */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.button:hover {
  background-color: #555;
}

/* Style the active button */
.active {
  background-color: #ff0000;
}

/* Menu Item Name Effect */
@keyframes gradiusEffect {
  0% {
    transform: scale(1);
    color: #ff0000; /* Start with red color */
  }
  50% {
    transform: scale(1.2);
    color: #00ff00; /* Change to green color at 50% */
  }
  100% {
    transform: scale(1);
    color: #ff0000; /* Back to red color at 100% */
  }
}

h2 {
  text-align: center;
  margin-top: 20px;
  animation: gradiusEffect 2s infinite; /* Apply the animation */
}
/* ------------------------------------------ */

/* Responsive styles */
@media screen and (max-width: 1052px) {
  .buttonContainer {
    flex-direction: column;
  }

  .button {
    width: 100%;
    margin: 5px 0;
  }

  .logoContainer {
    margin: 10px 0;
    padding: 0; /* Remove padding on mobile */
  }

  /* Adjust image size for mobile */
  #logo-image {
    max-width: 100%;
  }
}

/* MenuCard Styling */
.menuItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  justify-content: center; /* Center the cards horizontally */
  margin: 0 auto; /* Add this to center the grid in the container */
  max-width: 1200px; /* Add this to limit the maximum width of the grid */
}

.menuCard {
  width: 320px;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  position: relative;
  
}

.menuItemPicture {
  width: 100%;
  max-height: 320px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.ingredientsText {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  background-color: #f0f0f0; /* Light grey background color */
  padding: 8px; /* Add some padding to create space around the text */
  border-radius: 4px; /* Rounded corners for a softer look */
  padding: 5px;
}

.menuItemDescription {
  font-size: 24px;
  font-weight: 600;
  color: green;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent; /* Set the background to transparent to create a box effect */
  padding: 15px;
  font-family: 'Cinzel', serif; /* A bold and edgy font for the evil theme */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6), 0 2px 8px rgba(0, 0, 0, 0.3);
  /* Add a cool shadowy effect with two shadows: one for the border and one for the depth */
}

.priceText {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px; /* Add space between priceText and menuItemDescription */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .menuCard {
    width: 92%; /* Full width on mobile */
    padding: 10px; /* Reduce padding on mobile */
  }

  .menuItemPicture {
    max-height: 200px; /* Adjust the image height for mobile */
  }
}