/* Add general styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #222; /* Dark background color */
  color: #fff; /* Light text color */
}

/* Style the logo and button containers */
.logoContainer {
  text-align: center;
  margin: 20px 0;
  max-width: 100%; /* Change this to 100% */
  padding: 0 20px; /* Add padding to separate from buttons */
  width: 100%; /* Add this to make the container responsive */
  box-sizing: border-box; /* Add this to include padding in the total width */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #800000; /* Dark red button color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #800000; /* Dark red border */
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #b30000; /* Slightly lighter red on hover */
}

/* Style the active button */
.active {
  background-color: #ff0000;
}

/* Add overflow-x: hidden to the parent container */
.menuItems {
  overflow-x: hidden;
}

/* Menu Item Name Effect */
@keyframes gradiusEffect {
  0% {
    transform: scale(1);
    color: #ff6347; /* Tomato red */
    text-shadow: none; /* Remove any existing text shadow */
  }
  50% {
    transform: scale(1.1);
    color: #b22222; /* Dark red */
    text-shadow: 0 0 8px #b22222, 0 0 15px #ff0000; /* Add a red text shadow with two layers */
  }
  100% {
    transform: scale(1);
    color: #ff6347; /* Back to tomato red color at 100% */
    text-shadow: none; /* Remove text shadow */
  }
}

h2 {
  text-align: center;
  margin-top: 20px;
  animation: gradiusEffect 2s infinite;
}

/* Responsive styles */
@media screen and (max-width: 1052px) {
  .buttonContainer {
    flex-direction: column;
  }

  .button {
    width: 100%;
    margin: 5px 0;
  }

  .logoContainer {
    margin: 10px 0;
    padding: 0; /* Remove padding on mobile */
  }

  /* Adjust image size for mobile */
  #logo-image {
    max-width: 100%;
  }
}

/* MenuCard Styling */
.menuItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  justify-content: center; /* Center the cards horizontally */
  margin: 0 auto; /* Add this to center the grid in the container */
  max-width: 1200px; /* Add this to limit the maximum width of the grid */
}

.menuCard {
  width: 320px;
  border: 2px solid #800000; /* Dark red border */
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  position: relative;
}

.menuItemPicture {
  width: 100%;
  max-height: 320px;
  object-fit: cover; /* Cover the entire image container */
  border-radius: 8px;
  margin-bottom: 10px;
}

.ingredientsText {
  font-size: 16px;
  font-weight: bold;
  color: #ddd;
  background-color: #333; /* Dark grey background color */
  padding: 8px; /* Add some padding to create space around the text */
  border-radius: 4px; /* Rounded corners for a softer look */
}

.menuItemDescription {
  font-size: 24px;
  font-weight: 600;
  color: #00b300; /* Dark green color for menu item description */
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #222; /* Dark background for menu item description */
  padding: 15px;
  font-family: 'Cinzel', serif; /* A bold and edgy font for the evil theme */
  border-radius: 10px;
}

.priceText {
  font-size: 18px;
  font-weight: bold;
  color: #ddd; /* Light grey color for price text */
  margin-top: 10px; /* Add space between priceText and menuItemDescription */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .menuCard {
    width: 92%; /* Full width on mobile */
    padding: 10px; /* Reduce padding on mobile */
  }

  .menuItemPicture {
    max-height: 200px; /* Adjust the image height for mobile */
  }
}

/* Cart / Checkout Styling*/
#cartEmptyText{
background-color:   black;
justify-content: center;
display:flex;
font-size:30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: black;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: black;
}

td:last-child, th:last-child {
  text-align: right;
}

.checkout-btn-container {
  text-align: center;
  margin-top: 20px;
}

.checkout-btn {
  background-color: white;
  border: none; 
  color: red;
  font-style: bold;
  padding: 15px 32px; /* Increase button size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px; /* Optional: add border radius */
}

.login-btn-container {
  text-align: center;
  margin-top: 20px;
}

.login-btn {
  background-color: whitesmoke; /* Change background color */
  border: none;
  color: black; /* Text color */
  padding: 15px 32px; /* Increase button size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px; /* Optional: add border radius */
}

#userDetails {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Creepster', cursive; /* A horror style font. */
  padding: 20px;
  border-radius: 5px;
  font-size:20px;
}
